{% extends 'user_app/base.html' %}
{% load static %}
{% block head_block%}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<script defer src="{% static 'js/about.js'%}"></script>
{% endblock %}
{% block body_block %}
<section class="jumbotron_page">
    <div class="jumbotron">
      <h2>Welcome to EduTeach Platform </h2>
      <a href="{% url 'user_app:team' %}"><button id="btn_jumbotron" class="btn_one">Our Team</button></a>
      <a href="#visimisi"><button id="btn_jumbotron" class="btn_two">Visi & Misi</button></a>
    </div>
  </section>
  
  <section class="container-fluid fade-in" style="background-color: #FFF3E4;">
    <div class="row align-items-center">
      <div class="col-md-5 offset-md-1">
        <p class="text1section" style="font-size: 40px;"><span style="color: #F48C06;">Tentang Kami</span> <br> Selamat Datang di EduTeach</p>
        <p class="lead"> Pelatihan Olimpiade yang dirancang untuk mengasah potensi terbaik Anda! Kami percaya bahwa setiap individu memiliki kemampuan luar biasa</p>
        <a href="#" class="btn btn-light btn-lg" style="background-color: #F48C06; color: white; font-style: normal; font-weight: bold; border-radius: 30px;">Join for free</a>
      </div>
      
      <div class="col-md-5">
        <img src="{% static '/img/talentnew.png'%}" alt="talent" width="590" height="auto" class="img-fluid rounded">
      </div>
    </div>
  </section>
    
  <div class="px-4 pt-5 my-5 text-center border-bottom fade-in">
    <h1 class="display-4 poppins-text" style="color: #2F327D;">What is <span style="color: #F48C06;">EduTeach?</span></h1>
    <div class="col-lg-6 mx-auto">
      <p>✨ EduTeach menghadirkan Pelatihan Khusus OSN bagi siswa SMA/SMK sederajat! <br> Apakah kamu siap menjadi juara OSN dan meraih prestasi nasional? Yuk, gabung <br> bersama kami dan persiapkan dirimu sebaik mungkin!</p>
      <p>📢 Punya Pengalaman Jadi Siswa Berprestasi di OSN? <br> Kami membuka kesempatan emas bagi mahasiswa alumni OSN untuk bergabung menjadi <br> mentor di EduTeach! 🌟</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="{% static 'user_app:register.html' %}"> <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">For Teacher</button></a>
        <a href="{% static 'user_app:register.html' %}"> <button type="button" class="btn btn-outline-secondary btn-lg px-4">For Student</button></a>
      </div>
    </div>
  </div>
  
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="poppins-text" style="color: #F48C06" >All in one learning Platform</h1>
        <p>
        🎯 Mengapa Pilih EduTeach ? <br>
      Pilih EduTeach untuk persiapan OSN dengan materi berkualitas, akses fleksibel, dan mentor ahli.
      <br>Kami menawarkan tryout simulasi akurat dan pendampingan intensif untuk 
      <br>memastikan kamu siap meraih prestasi di OSN. </p>
      </div>
  </div>
  
  <div class="container my-5">
    <div class="card" style="width: 17rem; height: 19rem;">
      <div class="card-body">
        <img src="{% static '/img/card-logo.png'%}"  >
        <h6 class="card-subtitle mb-2 mt-2 poppins-textcard" style="color: #2F327D;">Materi Lengkap & Terstruktur</h6>
        <p>Sesuai standar OSN, disampaikan oleh pengajar berpengalaman dan ahli di bidangnya!</p>
      </div>
    </div>
    <div class="card" style="width: 17rem; height: 19rem;">
      <div class="card-body" >
        <img src="{% static '/img/card-logo2.png'%}"  >
        <h6 class="card-subtitle mb-2 mt-2 poppins-textcard" style="color: #2F327D">Simulasi Soal OSN</h6>
        <p class="card-text">Latihan soal dan try-out eksklusif serta tips sukses dari alumni OSN berprestasi.</p>
        
      </div>
    </div>
    <div class="card" style="width: 17rem; height: 19rem;">
      <div class="card-body">
        <img src="{% static '/img/card-logo3.png'%}">
        <h6 class="card-subtitle mb-2 mt-2 poppins-textcard" style="color: #2F327D;">Mentoring Intensif</h6>
        <p>Mendapat bimbingan langsung oleh tutor ahli dan berpengalaman hingga paham dan pasti lolos!</p>
      </div>
    </div>
    <div class="card" style="width: 16rem; height: 19rem;">
      <div class="card-body">
        <img src="{% static '/img/card-logo4.png'%}">
        <h6 class="card-subtitle mb-2 mt-2 poppins-textcard" style="color: #2F327D;">Pembelajaran Interaktif</h6>
        <p>Belajar seru lewat platform berbasis web yang bisa diakses kapan saja dan di mana saja.</p>
      </div>
    </div>
  </div>
    <br>
  
  <div class="visi" id="visimisi">
    <div class="right_side fade-in"> 
        <h3 class="poppins-textvisimisi">Our Vision <span style="color: #F48C06;">EduTeach Platform</span></h3>
  
        <p>Menjadi platform terkemuka dalam pengembangan kompetensi siswa SMA/SMK melalui pelatihan OSN yang inovatif, serta menciptakan ekosistem pembelajaran yang berkelanjutan dengan melibatkan alumni sebagai mentor yang inspiratif.</p>
    </div>
    <div class="left_side fade-in"> 
        <img style="float: right; margin-right: 30%;" src="{% static '/img/visi.png'%}" alt="" width="60%">
    </div>
  </div>
  
  <div class="misi">
    <div class="right_side2 fade-in">
      <h3 class="poppins-textvisimisi">Our Mission <span style="color: #F48C06;">EduTeach Platform</span></h3>
      <ol>
        <li>
          <h6>Pelatihan Berkualitas</h6>
          <p>Menyediakan program pelatihan terstruktur untuk persiapan OSN di berbagai bidang ilmu.
            <br>Mengutamakan materi yang relevan dan metode pengajaran yang efektif.</p>
        </li>
        <li>
          <h6>Komunitas Pembelajaran</h6>
          <p>Membangun platform yang menghubungkan siswa, mentor, dan alumni.
            <br>Mendorong berbagi pengetahuan dan pengalaman untuk meningkatkan strategi belajar.</p>
        </li>
        <li>
          <h6>Pemberdayaan Alumni</h6>
          <p>Mengajak alumni OSN untuk menjadi mentor bagi siswa saat ini.
            <br>Menyediakan wadah bagi alumni untuk berbagi inspirasi dan bimbingan.</p>
        </li>
        <li>
          <h6>Inovasi Pembelajaran</h6>
          <p>Mengintegrasikan teknologi dan metode pembelajaran kreatif.
            <br>Meningkatkan aksesibilitas dan efektivitas program pelatihan.</p>
        </li>
        <li>
          <h6>Evaluasi dan Peningkatan</h6>
          <p>Melakukan evaluasi rutin terhadap program pelatihan.
            <br>Mengumpulkan umpan balik untuk menjaga kualitas dan relevansi materi.</p>
        </li>
      </ol>
    </div>
    <div class="left_side2 fade-in">
      <img style="float: right;margin-right: 20%;" src="{% static '/img/misi.png'%}" alt="" width="60%">
    </div>
  </div>
  
  <div class="row">
    <div class="about">
        <h1 class="poppins-text" style="font-weight: 400; color: #2F327D; text-align: center;"><b>About Us</b></h1>
        <h3 class="poppins-textcard" style="font-weight: 400; text-align: center;" id ="eduteach">Let you know more about <br> EduTeach</h3>
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static '/img/hs-safety-culture-and-leadership.jpeg'%}" class="celebrate" alt="celebrating">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static '/img/successful-business-team-giving-high-five-successful-business-team-giving-group-high-five-smiling-celebrating-successful-121499294.webp'%}" class="high five" alt="people celebrating">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static '/img/OIP (2).jpeg'%}" class="people" alt="high five">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> 
        <div class="my-5">
            <div class="p-5 text-center bg-body-tertiary">
                <div class="container py-5">
                    <h1 class="poppins-textlaunch fade-in" style="color: #2F327D;">EduTeach launch in 2026!</h1>
                    <p class="poppins-textlaunch fade-in" style="font-size: 16px;">
                        A new journey has begun! Eduteach, a newly established ambitious platform, was founded in 2026. The platform 
                        <br>started by providing specialized training for teachers who are eager to develop. Eduteach is more than just a platform; we are a 
                        <br>community of educators committed to excellence. Since our inception in 2026, we have been dedicated to providing our 
                        <br>members with the resources and support they need to succeed. Our core values of innovation, collaboration, and lifelong 
                        <br>learning drive everything we do. The headquarter place in Jakarta, Indonesia at Jl. Paus No 10E & 10F, RT.1/RW.7, Rawamangun, 
                        <br>Kec. Pulo Gadung, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13220
                    </p>
                </div>
            </div>
        </div>    
    </div>
  </div>  
{% endblock %}