{% extends 'user_app/base.html' %}
{% load static %}
{% block head_block%}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% comment %} <script defer src="{% static 'js/contact.js'%}"></script> {% endcomment %}
{% endblock %}
{% block body_block %}
<div class="contact-section">
  <div class="container contact-container">
    <div class="contact-text">
      <h1>Let's Get <span class="highlight">In Touch!</span></h1>
      <p>
        Have a question or need assistance? Reach out to us via contact form below. We're eager to assist you. 
      </p>
    </div>
    <div class="contact-form">
      <form method="post" action="{% url 'user_app:contact' %}">
          {% csrf_token %}
          {% if msg %}
              {{ msg | safe }}
          {% else %}
          {% endif %}
        <div class="row mb-3">
          <div class="col-md-6 position-relative">
            <label for="firstName" class="floating-label"></label>
            {{ form.firstName }}
          </div>
          <div class="col-md-6 position-relative">
            <label for="lastName" class="floating-label"></label>
            {{ form.lastName }}
          </div>
          <div class="mb-3 position-relative">
            <label for="email" class="floating-label"></label>
            {{ form.email }}
          </div>
          <div class="mb-3">
            <label for="message" class="form-label"></label>
            {{ form.message }}
          </div>
          <button type="submit" value="contact" class="submit-btn btn">Submit</button>
        </div>
      </form>
    </div>  
  </div>
</div>
{% endblock %}