{% extends 'user_app/base.html' %}
{% load static %}
{% block head_block%}
<link rel="stylesheet" href="{% static 'css/team.css' %}">
<script defer src="{% static 'js/about.js'%}"></script>
{% endblock %}
{% block body_block %}

<div class="wrapper" id="ourteam">
    <div class="title poppins-textcard" style="color: #2F327D;">
      <h1>Our Team Section</h1>
    </div>
    <div class="card_Container">
      <div class="card box">
        <div class="imbBx">
          <img src="{% static '/img/avatar (1).jpg' %}" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
            <h3>MUHAMMAD IHSAN NURHADI<br><span>Web Developer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href=""><img src="{% static '/img/ig.svg'%}" alt=""></a>
            </li>
            <li style="--i: 2">
              <a href=""><img src="{% static '/img/github.svg'%}" alt=""></a>
            </li>
            <li style="--i: 3">
              <a href=""><img src="{% static '/img/linkedin.svg'%}" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card box">
        <div class="imbBx">
          <img src="{% static '/img/avatar (1).jpg' %}" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
            <h3>CHARLOS FALENTINO <br><span>Web Developer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href=""><img src="{% static '/img/ig.svg'%}" alt=""></a>
            </li>
            <li style="--i: 2">
              <a href=""><img src="{% static '/img/github.svg'%}" alt=""></a>
            </li>
            <li style="--i: 3">
              <a href=""><img src="{% static '/img/linkedin.svg'%}" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card box">
        <div class="imbBx">
          <img src="{% static '/img/avatar (1).jpg' %}" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
            <h3>M. AKBAR AMIRUDDIN<br><span>Web Developer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href=""><img src="{% static '/img/ig.svg'%}" alt=""></a>
            </li>
            <li style="--i: 2">
              <a href=""><img src="{% static '/img/github.svg'%}" alt=""></a>
            </li>
            <li style="--i: 3">
              <a href=""><img src="{% static '/img/linkedin.svg'%}" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card box">
        <div class="imbBx">
          <img src="{% static '/img/avatar (2).jpg'%}" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
            <h3>YUNITA EKA SALSABILA<br><span>Web Developer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href=""><img src="{% static '/img/ig.svg'%}" alt=""></a>
            </li>
            <li style="--i: 2">
              <a href=""><img src="{% static '/img/github.svg'%}" alt=""></a>
            </li>
            <li style="--i: 3">
              <a href=""><img src="{% static '/img/linkedin.svg'%}" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card box">
        <div class="imbBx">
          <img src="{% static '/img/avatar (2).jpg'%}" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
            <h3>DHEA NOVITHA <br><span>Web Developer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href=""><img src="{% static '/img/ig.svg'%}" alt=""></a>
            </li>
            <li style="--i: 2">
              <a href=""><img src="{% static '/img/github.svg'%}" alt=""></a>
            </li>
            <li style="--i: 3">
              <a href=""><img src="{% static '/img/linkedin.svg'%}" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card box">
        <div class="imbBx">
          <img src="{% static '/img/avatar (2).jpg'%}" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
            <h3>MEILIA INTAN SABILA<br><span>Web Developer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href=""><img src="{% static '/img/ig.svg'%}" alt=""></a>
            </li>
            <li style="--i: 2">
              <a href=""><img src="{% static '/img/github.svg'%}" alt=""></a>
            </li>
            <li style="--i: 3">
              <a href=""><img src="{% static '/img/linkedin.svg'%}" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card box">
        <div class="imbBx">
          <img src="{% static '/img/avatar (2).jpg'%}" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
            <h3>REGINA MEILATI ROZADINIA <br><span>Web Developer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href=""><img src="{% static '/img/ig.svg'%}" alt=""></a>
            </li>
            <li style="--i: 2">
              <a href=""><img src="{% static '/img/github.svg'%}" alt=""></a>
            </li>
            <li style="--i: 3">
              <a href=""><img src="{% static '/img/linkedin.svg'%}" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card box">
        <div class="imbBx">
          <img src="{% static '/img/avatar (2).jpg'%}" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
            <h3>ERLITA DEVI ALDHIRA VAULIA <br><span>Web Developer</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href=""><img src="{% static '/img/ig.svg'%}" alt=""></a>
            </li>
            <li style="--i: 2">
              <a href=""><img src="{% static '/img/github.svg'%}" alt=""></a>
            </li>
            <li style="--i: 3">
              <a href=""><img src="{% static '/img/linkedin.svg'%}" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}