{% extends 'dashboard_app/base_dashboard_student.html' %}
{% load static %}
{% load embed_video_tags %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/class_list.css' %}">
{% endblock %}
{% block body_block %}
<div class="container ">
    {% if post.thumbnail %}
    <img src="{{ post.thumbnail.url }}" alt="Thumbnail" style="width: 100%; height: auto;">
   {% endif %}
<h2>Berikut adalah kelas yan terdapat dalam materi</h2>
<ul>
    {% for class in classes %}
    <li>
        {{ class.class_name }}
        <br>
        <a href="{% url 'class_detail' pk=class.pk %}" class="btn btn-primary">Lihat</a>  <!-- Link ke ClassDetailView -->
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}