{% extends 'dashboard_app/base_dashboard_teacher.html' %}
{% load static %}
{% load embed_video_tags %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/class_list.css' %}">
{% endblock %}

{% block body_block %}
<!-- Header dan Navigasi -->
<div class="py-3" style="background:#FFBD73">
    <div class="container nav-jejak">
        <a class="text-black" href="{% url 'user_app:teacherdashboard' %}" style="font-size: 25px;"> Dashboard /</a>
        <a class="text-black" href="{% url 'lesson_list' %}" style="font-size: 25px; text-decoration: none !important;"> Lesson /</a>
        <a class="text-black" href="#" style="font-size: 25px; text-decoration: none !important;">{% for lesson in subchapter.Sub.all %} {{ lesson.title }} {% endfor %}</a>
        <a class="text-black" href="#" style="font-size: 25px; text-decoration: none !important;">Course Class </a>
    </div>
</div>

<!-- Thumbnail Post -->
 
<div class="container my-5">
    <div class="p-5 text-white ">
      <h1 class="text white">Kelas : {{ subchapter.course_name }} </h1>

      Dibuat pada : {{ lesson.published_date }}
    </div>
    <div class="p-5 text-white" id="class">
        <h2>Berikut adalah kelas yang terdapat dalam materi "{{ subchapter.text }}"</h2>
        <!-- Daftar Kelas -->
        <ul>
            {% for subchapter in subchapters %}
            <li class="class-item">
                <div class="class-info">
                    <span class="class-name">{{ subchapter.course_name }}</span>
                    <a href="{% url 'courses_detail' pk=subchapter.pk %}" class="btn btn-primary">Lihat</a>
                </div>
            </li>
            {% empty %}
            <li style="color: black;">Tidak ada kelas tersedia.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
