{% extends 'dashboard_app/base_dashboard_teacher.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/lesson_detail.css' %}">

{% endblock %}
{% load embed_video_tags %}
{% block body_block %}
<div class="py-3" style="background:#FFBD73">
  <div class="container">
    <a class="text-black" href="{% url 'user_app:teacherdashboard' %}" style="font-size: 25px; text-decoration: none !important;"> Dashboard /</a>
    <a class="text-black" href="{% url 'lesson_list' %}" style="font-size: 25px; text-decoration: none !important;"> Lesson </a>
    <h1 class="post-title" >{{ lesson.title }}</h1>
  <!-- Post published date or publish button -->
      {% if lesson.published_date %}
      <div class="date post-date" style="font-size: 17px !important; margin-left: 5px !important;">Dibuat pada : {{ lesson.published_date }}</div>
      {% else %}
      <a class="btn btn-primary" href="#">Publish</a>
      {% endif %}
  </div>
</div>
  <div class="block">
      <!-- Thumbnail Image -->
     {% if lesson.thumbnail %}
      <img src="{{ lesson.thumbnail.url }}" alt="Thumbnail" style="width: 100%; height: auto;">
     {% else %}
      <p>No image available</p>
     {% endif %}
        <br>
        <p><strong>Created at:</strong> {{ lesson.created_date }}</p>
        <p><strong>Published at:</strong> {{ lesson.published_date }}</p>
        {% for product in lesson.products.all %}
        <p class="title"><strong>Course :</strong> {{ product.name }}</p>
        {% endfor %}
    <br>
      <!-- Tombol 'Lihat Kelas' jika pengguna telah membeli post ini -->
      <a href="{% url 'courses_list' pk=lesson.pk %}" class="btn btn-primary">Lihat Kelas</a>

 </div>
</div>
<br>
<div class="item">
  <!-- Video -->
  {% if lesson.video %}
  <!-- Menampilkan video -->
  {% video lesson.video "550x360" %}
  {% else %}
  <p>No video found for this post.</p>
  {% endif %}   
  <p class="deskripsi">Contoh video pembelajaran</p>
</div>
<br>
<div id="content">
  <h3 class="title">Sub Bab :</h3>
  <ul>
    {% for subchapter in subchapters %}
      <li>
        <strong>{{ subchapter.course_name }}</strong><br>
        <em>{{ subchapter.text }}</em><br>            
    {% empty %}
        <p>No chapters available.</p>
    {% endfor %}
      </li>
  </ul>
</div>   
<br> 
{% endblock %}