{% extends 'dashboard_app/base_dashboard_teacher.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/lesson_list.css' %}">

{% endblock %}
{% load embed_video_tags %}
{% block body_block %}
<div class="py-3" style="background:#FFBD73">
    <div class="container nav-jejak">
      <a class="text-blacklist" href="{% url 'user_app:teacherdashboard' %}" style="font-size: 22px;"> Dashboard /</a>
      <a class="text-blacklist" href="#" style="font-size: 22px;"> Search Courses</a>
    </div>
  </div>

{% comment %} <h1 class="poppins-langganan" style="text-align: center;">Berlangganan <span style="color: #F48C06;">Produk</span> <br>EduTeach</h1>
<div class="container mt-4">
  <!-- Form Pencarian -->
  <form method="get" action="{% url 'post_list' %}">
    <div class="row mb-4">
      <div class="col-md-10">
        <input type="text" name="search" class="form-control" placeholder="Search posts..." value="{{ search_query }}">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100" style="background-color: #F48C06;">Search</button>
      </div>
    </div>
  </form> {% endcomment %}

    <h1 class="lesson-title" style="margin-left:5rem !important; margin: 2rem;">Lesson List</h1>
        <ul class="container">
        {% for lesson in lessons %}
            <div class="block lesson-list">
                <div class="card-body lesson-card">
                  <li>
                    <h2>{{ lesson.title }}</h2>
                      <a href="{% url 'lesson_detail' pk=lesson.pk %}" style="text-decoration: none; color: inherit;">
                        {% if lesson.thumbnail %}
                          <img src="{{ lesson.thumbnail.url }}" class="card-img-top"  alt="{{ lesson.title }}">
                        {% else %}
                          <p class="text-center">No image available</p>
                        {% endif %}
                      <p>{{ lesson.created_date }}</p>
                      {% for product in lesson.products.all %}
                      <p>Course : {{ product.name }}</p>
                      <a class="btn btn-primary" href="{% url 'lesson_detail' pk=lesson.pk%}">Lanjut Belajar</a>
                      {% endfor %}
                  </li>
                </div>
            </div>
        {% endfor %}
        </ul>
</div>
{% endblock %}

