{% extends 'dashboard_app/base_dashboard_student.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">

{% endblock %}
{% load embed_video_tags %}
{% block body_block %}
<!-- Post title -->
<div class="py-3" style="background:#FFBD73">
    <div class="container">
        <a class="text-black" href="{% url 'user_app:studentdashboard' %}" style="font-size: 25px; text-decoration: none !important;"> Dashboard /</a>
        <a class="text-black" href="{% url 'post_list' %}" style="font-size: 25px; text-decoration: none !important;"> Search /</a>
        <a class="text-black" href="#" style="font-size: 25px; text-decoration: none !important;"> {{ post.title }} </a>
        <h1 class="post-title" >{{ post.title }}</h1>
        <p class="post-content" style="font-size: 24px !important;">
            {{ post.text|slice:":50"|safe|linebreaksbr }}
        </p>
    <!-- Post published date or publish button -->
        {% if post.published_date %}
        <div class="date post-date" style="font-size: 17px !important; margin-left: 5px !important;">Dibuat pada : {{ post.published_date }}</div>
        {% else %}
        <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    </div>
    <div class="block">
        <!-- Thumbnail Image -->
       {% if post.thumbnail %}
        <img src="{{ post.thumbnail.url }}" alt="Thumbnail" style="width: 100%; height: auto;">
       {% else %}
        <p>No image available</p>
       {% endif %}
       <div class="post-price" style="font-size: 24px !important; margin-top: 20px; font-weight: bold;">
        Price: Rp.{{ post.price }}
       </div>
        {% if has_active_order_for_post %}
        <!-- Tombol 'Lihat Kelas' jika pengguna telah membeli post ini -->
            <a href="{% url 'class_list' pk=post.pk %}" class="btn btn-primary">Lihat Kelas</a>
        {% else %}
        <!-- Tombol 'Tambahkan ke Keranjang' jika pengguna belum membeli post ini -->
            <button type="button" value="{{ post.id }}" id="add-cart-student" data-testid="add-to-cart-button" class="ud-btn ud-btn-large ud-btn-brand ud-heading-md add-to-cart" fdprocessedid="s2t4t5" style="width: 80%;">Tambahkan ke keranjang</button>
        {% endif %}
   </div>
</div>
<br>
<div class="item">
    <!-- Video -->
    {% if post.video %}
    <!-- Menampilkan video -->
    {% video post.video "550x360" %}
    {% else %}
    <p>No video found for this post.</p>
    {% endif %}   
    <p class="deskripsi">Contoh video pembelajaran</p>                 
</div>
<br>
<div id = "content" >
<h3 class="title">Course content:</h3>
    <ul>
        {% if classes %}
            {% for class in classes %}
                <li>
                    <strong>{{ class.class_name }}</strong><br>
                    <em>{{ class.text }}</em><br>
                </li>
            {% endfor %}
        {% else %}
            <li>No classes available for this post.</li>
        {% endif %}
    </ul>
</div>

<script>
    // check if button pressed
    $(document).on('click', '#add-cart-student', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add_student' %}',
            data: {
                post_id: $('#add-cart-student').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                // console.log(json)
                document.getElementById("cart_quantity_student").
                textContent = json.qty
            },

            error: function(xhr, errmsg, err){

            }
        });
    });
  </script>
{% endblock %}

