{% extends 'dashboard_app/base_dashboard_student.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">

{% endblock %}
{% load embed_video_tags %}
{% block body_block %}
<!-- Post title -->
<div class="py-3" style="background:#FFBD73;position: relative;">
    <div class="container">
        <a class="text-black" href="{% url 'user_app:studentdashboard' %}" style="font-size: 25px; text-decoration: none !important;"> Dashboard /</a>
        <a class="text-black" href="{% url 'post_list' %}" style="font-size: 25px; text-decoration: none !important;"> Search /</a>
        <a class="text-black" href="#" style="font-size: 25px; text-decoration: none !important;"> {{ post.title }} </a>
        <h1 class="post-title" >{{ post.title }}</h1>
        <p class="post-content" style="font-size: 24px !important; ">
        {{ post.text | safe | linebreaksbr }}
        </p>
    <!-- Post published date or publish button -->
        {% if post.published_date %}
        <div class="date post-date" style="font-size: 17px !important; margin-left: 5px !important;">Dibuat pada : {{ post.published_date }}</div>
        {% else %}
        <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    </div>
    <div class="block">
        <!-- Thumbnail Image -->
       {% if post.thumbnail %}
        <img src="{{ post.thumbnail.url }}" alt="Thumbnail" style="width: 100%; height: auto;">
       {% else %}
        <p>No image available</p>
       {% endif %}
       <div class="post-price" style="font-size: 24px !important; margin-top: 20px; font-weight: bold;">
        Price: Rp.{{ post.price }}
       </div>
       <button type="button" data-testid="add-to-cart-button" class="ud-btn ud-btn-large ud-btn-brand ud-heading-md add-to-cart" fdprocessedid="s2t4t5" style="width: 80%;">Tambahkan ke keranjang</button>
       <br>
       <a href="{% url 'class_list' pk=post.pk %}" class="btn btn-primary">Lihat Kelas</a>
       <br>
       {% for class in classes %}
       Pelajaran ini mengandung : {{class_instance.count}}
       {% endfor %}
   </div>
</div>
<br>
<div class="item">
    <!-- Video -->
    {% if post.video %}
    <!-- Menampilkan video -->
    {% video post.video 'medium'%}
    {% else %}
    <p>No video found for this post.</p>
    {% endif %}   
    <p class="deskripsi">Contoh video pembelajaran</p>                 
</div>
<br>
<div id = "content" >
<h3 class="title">Course content:</h3>
    <ul>
        {% if classes %}
            {% for class in classes %}
                <li>
                    <strong>{{ class.class_name }}</strong><br>
                    <em>{{ class.text }}</em><br>
                </li>
            {% endfor %}
        {% else %}
            <li>No classes available for this post.</li>
        {% endif %}
    </ul>
</div>
{% endblock %}

