{% extends 'dashboard_app/base_dashboard_student.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}
{% block body_block %}
<div class="py-3" style="background:#FFBD73">
    <div class="container nav-jejak">
      <a class="text-black" href="{% url 'user_app:studentdashboard' %}" style="font-size: 25px;"> Dashboard /</a>
      <a class="text-black" href="#" style="font-size: 25px;"> Search Courses</a>
    </div>
  </div>
<div class="container mt-4">
    <div class="row">
        {% for post in post_list %}
            <div class="card" style="width: 18rem; margin: 15px;">
                <a href="{% url 'post_detail' pk=post.pk %}" style="text-decoration: none; color: inherit;">
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail.url }}" class="card-img-top" alt="Thumbnail">
                    {% else %}
                        <p class="text-center">No image available</p>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">Published on: {{ post.published_date | date:"D M Y" }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
