{% extends 'dashboard_app/base_dashboard_teacher.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/teachers_dashboard.css' %}">

{% endblock %}
{% block body_block %}
<section class="container-fluid" style="background-color: #FFF3E4;">
    <div class="row align-items-center">
      
      <div class="col-md-6 offset-md-1">
        <div class="welcome-banner d-flex justify-content-between align-items-center">
          
          <div class="text-section">
            <h2>Welcome back, Teacher!</h2>
            <p>Shopping Cart Page</p>
          </div>
          <img src="{% static '/img/talentnew.png'%}" alt="talent" width="150" height="auto" class="img-fluid rounded">  
        </div>
      </div>
    </div>
  </section>
  {% for product in cart_products %}
  <div class="container">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="category-image">
                        <img style="width: 100%;" src="{{ product.product_image.url }}" alt="Category Image">
                      </div><br>
                    </div>
                    <div class="col">
                      <h4 class="text-center"> {{ product }}</h4>
                      <br>
                      <p style="text-decoration: none; color: #252525;" >{{ product.small_desc }}</p>
                      <p style="text-decoration: none; color: #252525;" >{{ product.desc }}</p>
                      <span class="float-start">Harga Promo : Rp. {{ product.sell_price }}</span>
                      <span class="float-end"><button type="button" class="btn btn-primary">Payment</button></span>
                    </div>
                </div>
              </a>
              </div>
            </div>
          </div>
        </div><br/>
  </div>
  {% endfor %}
  <br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}