.containert {
    max-width: 500px;
    max-height: 150px;
    margin:  auto;
    padding-left: 0 !important;
}
.aside{
    width: 200px;
    max-height: 200px;
    border: 1px solid;
    border-color: black;
}