{% extends 'dashboard_app/base_dashboard_student.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Optional: jQuery for AJAX -->
{% endblock %}

{% block body_block %}
<div class="container">
    {% for post in cart_products_student %}
    <div class="containert">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="category-image">
                            <img class="image-fluid" src="{{ post.thumbnail.url }}" alt="Category Image">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>{{ post.title }}</p>
                        <span>Rp. {{ post.price }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="aside">
        <p>Total: Rp. {{ totals }}</p>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header" style="color: #FFF;">
            Form Pembayaran
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'payment' %}">
                {% csrf_token %}
                {{ form.as_p }} <!-- Render the form fields -->
                <button type="submit" class="btn btn-primary" style="width: 200px; background-color: #2F327D;">Place Order</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
